<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        
        <h1>BILL Generated </h1>
        <h3> User :-</h3>{{ result_set.endUser }}
    <br>
        <h3>Fbric :-</h3>{{ result_set.fabric }}
    <br>
        <h3>Fabric Type :-</h3>{{ result_set.fabricType }}
    <br>
        <h3>Blend :-</h3>{{ result_set.blend }}
        <br>
        <h3>GSM :-</h3>{{ result_set.gsm }}
        <br>
  <h1> Ends :-</h1>{{ result_set.ends }}
<br>
        <h3> Yarns :-</h3>{{ result_set.yarn }}
        <hr>
        <h3>Fbric Cost :- </h3>{{ result_set.fabricCost }} Rs.
        
    </center>
    
</body>
</html>
